EXPERIMENT 4:Write a python program to import and export data using Pandas and
show the details of the dataset like number of rows, columns, first five
rows, size, number of missing values, sum, average, min and max
values from the numerical columns.

In [1]:
import pandas as pd

In [2]:
from google.colab import files

In [3]:
uploaded = files.upload()

Saving student-dataset (1).csv to student-dataset (1).csv

In [4]:
import io

In [7]:
df = pd.read_csv(io.BytesIO(uploaded['student-dataset (1).csv'])) #reading a csv file, fixed key in uploaded dictionary

In [8]:
df.head(7) #to read first 7 elments

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20,3.3,2.8,3.2,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5
5,5,Rochelle Johnson,United States of America,Indianapolis,39.77,-86.16,F,NaN,21,3.4,3.1,3.7,5.0,2,4.0,4
6,6,Joey Abreu,China,Shenyang,41.79,123.43,M,NaN,22,3.7,3.9,3.6,2.0,5,5.0,5

In [9]:
df.isnull() # to check wheter there is a null value or not represented by True or False

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
303,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
304,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
305,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
306,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [10]:
df.isnull().sum() # to show the sum of the null value

id                      0
name                    0
nationality             0
city                    0
latitude                0
longitude               0
gender                  0
ethnic.group          307
age                     0
english.grade           0
math.grade              0
sciences.grade          0
language.grade          0
portfolio.rating        0
coverletter.rating      0
refletter.rating        0
dtype: int64

In [11]:
df.describe() # to count the mean, max and min value of the given csv file

,id,latitude,longitude,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
count,307.000000,307.000000,307.000000,0.0,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000
mean,153.000000,32.863388,-64.539121,NaN,21.964169,3.369707,3.414332,3.446580,4.396417,3.986971,4.110749,4.188925
std,88.767487,13.498582,81.249146,NaN,1.248013,0.538724,0.476839,0.509081,0.996474,0.928749,0.823936,0.842193
min,0.000000,-33.450000,-123.130000,NaN,19.000000,1.500000,2.100000,1.400000,1.000000,1.000000,1.000000,1.000000
25%,76.500000,32.720000,-118.240000,NaN,21.000000,3.100000,3.100000,3.200000,4.000000,3.500000,4.000000,4.000000
50%,153.000000,34.390000,-99.140000,NaN,22.000000,3.500000,3.500000,3.600000,5.000000,4.000000,4.000000,4.000000
75%,229.500000,38.960000,-73.855000,NaN,23.000000,3.800000,3.800000,3.800000,5.000000,5.000000,5.000000,5.000000
max,306.000000,59.890000,139.750000,NaN,26.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000

In [12]:
df.tail(7) # to print last 7 elemnts of the csv file

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
300,300,Tessa Rawanduzy,United States of America,Derby,37.55,-97.27,F,NaN,21,3.3,3.3,2.0,5.0,3,3.0,5
301,301,Vanessa Gonzalez,Nicaragua,León,12.44,-86.88,F,NaN,24,3.3,3.7,3.8,3.0,5,5.0,4
302,302,Austin Haas,United States of America,Columbus,39.96,-83.00,M,NaN,20,3.6,3.7,3.1,5.0,4,5.0,5
303,303,Madison Fithian,United States of America,Los Angeles,34.05,-118.24,F,NaN,20,3.6,3.9,4.0,5.0,5,5.0,3
304,304,Zachary Mulvahill,United States of America,Los Angeles,34.05,-118.24,M,NaN,20,3.2,3.4,3.9,5.0,5,5.0,3
305,305,Eliana Michelsen,United States of America,Oakland,37.80,-122.27,F,NaN,23,3.0,2.8,2.9,5.0,4,4.0,5
306,306,Dane Whittemore,Canada,Toronto,43.67,-79.42,M,NaN,21,3.8,3.2,4.0,5.0,5,4.0,5

In [16]:
# Calculate the mean of numeric columns only.
df.mean(numeric_only=True)

id                    153.000000
latitude               32.863388
longitude             -64.539121
ethnic.group                 NaN
age                    21.964169
english.grade           3.369707
math.grade              3.414332
sciences.grade          3.446580
language.grade          4.396417
portfolio.rating        3.986971
coverletter.rating      4.110749
refletter.rating        4.188925
dtype: float64

In [20]:
df.min()# To find the minimum value present in the csv file

id                                   0
name                  Aaqil el-Hashemi
nationality                 Bangladesh
city                    Aguascalientes
latitude                        -33.45
longitude                      -123.13
gender                               F
ethnic.group                       NaN
age                                 19
english.grade                      1.5
math.grade                         2.1
sciences.grade                     1.4
language.grade                     1.0
portfolio.rating                     1
coverletter.rating                 1.0
refletter.rating                     1
dtype: object

In [21]:
df.max()# To find the maximum value present in the csv file

id                                         306
name                                  Zoe Kern
nationality           United States of America
city                                   Zülpich
latitude                                 59.89
longitude                               139.75
gender                                   other
ethnic.group                               NaN
age                                         26
english.grade                              4.0
math.grade                                 4.0
sciences.grade                             4.0
language.grade                             5.0
portfolio.rating                             5
coverletter.rating                         5.0
refletter.rating                             5
dtype: object

In [22]:
df.sum() #Sum of numerical columns

id                                                                46971
name                  Kiana LorJoshua LonakerDakota BlancoNatasha Ya...
nationality           ChinaUnited States of AmericaUnited States of ...
city                  SuzhouSanta ClaritaOaklandCastro ValleySão Jos...
latitude                                                       10089.06
longitude                                                     -19813.51
gender                FMFFFFMMFMFFMMMFFotherMMMMFMMFFMFFFFMMMFMFMFFF...
ethnic.group                                                        0.0
age                                                                6743
english.grade                                                    1034.5
math.grade                                                       1048.2
sciences.grade                                                   1058.1
language.grade                                                   1349.7
portfolio.rating                                                   1224
coverletter.rating                                               1262.0
refletter.rating                                                   1286
dtype: object